.general_button {
    width: 120px;
    margin-right: 10px;
    margin-left: 10px;
}

.bg_row {
    background: linear-gradient(to right, #6b9080 0%, #a4c3b2 100%);
}

.img_avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 10px;
    object-fit: cover;
}

.img_cl{
    clear: both;
    text-align: center;
}

.des_css{
    font: 1.2em "Roboto", sans-serif;
    color: #000;
    margin: 10px;

}
